body{
    background-color: black;
    font-family: 'Fredoka One', cursive;
    padding: 15px;
    line-break: 10px;
    margin: 40px;
}

.slide{
    display: flex;
    position: sticky;
    top:30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(241, 191, 239);
    font-size: 30px;
    text-shadow: 2px 2px rgb(243, 243, 46);
    color:black;
    text-emphasis-color:yellow;
    width: 90vw;
    height: 90vh;
    line-break: 20px;
    box-shadow: 10px 10px  mediumspringgreen;
    border-radius: 30px;
    border-color: white;
    border-style: inset;
    border-width: 10px;
}
#name {
    margin:20px;
    text-align: center;
    font-size: 55px;
    padding: 20px;
    background-color: lightcoral;
    box-shadow: 5px 5px greenyellow;
    border-radius: 20px;
    animation: fadeIn ease 10s;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
#myname {
    font-size: 35px;
    padding: 20px;
    background-color: lightblue;
    box-shadow: 4px 4px coral;
    border-radius: 10px;
    text-align: center;
}

.slide2{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
ul {
    width:40%;
    list-style: square;
}
li {
    font-size: 22px;
}
.slide2 img {
    width:40%;
    height:60%;
    padding:2px;
    background-color:black;
    box-shadow: 2px 2px lightgreen;
}

.inslide {
    width:26%;
    text-align: center;
    
}

#slide4{
    flex-wrap: wrap;
    flex-direction: row;
}



#slideitalic{
    font-style: italic;
    font-size: 50px;
    padding:40px;
    align-items: center;
    text-shadow: 3px 3px yellow;

}

#secondslide{
    font-size:32px;
    text-shadow: 3px 3px white;
}

#emphasis {
    text-decoration-line: underline;
    text-decoration-color: yellow;
}

#images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#images img{
    height:40vh;
    width:60vh;
    padding:25px;
    border-radius: 50%;

}

#cosmo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:30px;
}

.plasticsurgery{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:30px;
}

#southkorea {
    font-style: italic;
    font-size: 50px;
    padding:40px;
    align-items: center;
    text-shadow: 3px 3px yellow;
}

.south{
    display:none;
}

#before{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.heading{
    font-size: 35px;
    padding: 20px;
    background-color: lightblue;
    box-shadow: 4px 4px coral;
    border-radius: 10px;
    text-align: center;
}
#before img{
    width:60vh;
    height:40vh;
    padding:20px;
}

#workcited p{
    font-size: 20px;
}