body{
    background-color: lightyellow;
    text-align: center;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    align-self: center;
    color: lightskyblue;
}
h3{
    color: lightgreen;
    

}
p{
    color: palevioletred;
    background-color: peachpuff;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
a{
    color:rgb(236, 118, 236);

}
a:hover{
    color:sandybrown;

}