body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:greenyellow;
    font-family: 'Press Start 2P', cursive;
    font-size:20px;
}

.gridcontainer{
    background-color: rgba(50,200,200,1);
    display:none;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap:10px;
    width: 100vh;
    height:80vh;
    border-color: black;
}
.overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    background: gray;
  }
.grids{
    background-color:pink;
    background-image:url("mark.png");
    background-size:contain;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
}
.grids p{
    display:none;
    text-align: center;
}


.grids img {
    display:none;
    height: 100%;
    width:100%;
}

#play{
    width:100px;
    height:100px;
    
}
#startgame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.time{
    display:none;
    justify-content: space-around;

}
#won{
    display:none;
}