
body{
    
}
    #MyFace{
        text-align: center;
        background-color: brown;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        height:500px;
        width:500px;
        position: absolute;
    
    }
    .MyEyes{
        background-color:black;
        padding:10px;
    }