body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    background-image: url("pictures/lips.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:20%;
    margin:0px;
}

header{
    font-family: 'Cabin Sketch', cursive;
    height:15vh;
    padding:20px;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width:100vw;
    color:white;
    background-color: black;
    top:0;
}
#rando {
    height:22vh;
}
.body {
    display:flex;
    align-items: center;
    justify-content: center;
}
.grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    background-color: none;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    padding:30px;
}

.grid img {
    width:22vw;
    height:22vw;
}
.grid p {
    border-radius: 30%;
    background-color: black;
    color:white;
}
#about img:hover{
    opacity:0.6;
}
#nailpolish img:hover{
    opacity:0.6;
}

#nailarttools img:hover{
    opacity:0.6;
}

#gallery img:hover{
    opacity:0.6;
}
@media screen and (max-width: 850px) {
    .grid{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 10px;
    }
    .grid img {
        width:30vw;
        height:30vw;
    }
  }
