body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    background-image: url("pictures/lips.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:20%;
    margin:0px;
}

header{
    font-family: 'Cabin Sketch', cursive;
    height:15vh;
    padding:20px;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width:100vw;
    color:white;
    background-color: black;
    top:0;
}
#navbar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    text-align: center;
    background-color:black;
}
#navbaricon{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    text-align: center;
    font-size: 20px;
    background-color: white;
    border-radius: 40%;
    
}
#navbaricon a{
    text-align: center;
    text-decoration: line-through pink;
    color:black;
}
#heading{
    text-align: center;
    padding:30px;
    position:sticky;
    top:22vh;
}
.rando {
    height:18vh;
}
.nailpolish{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    position:sticky;
    border:2px solid black;
    top:40vh;
    padding:20px;
    background-color: white;
    
}
.nailpolish #polishname{
    border-radius: 30%;
    font-family:'Cabin Sketch', cursive;
    background-color: black;
    padding:10px;
    color:white;
    
}
#polishname{
    width:20%;
    padding:10px;
    text-align: center;
    background-color: chartreuse;
}
#polishimage {
    width:40%;

}
#polishcontent {
    width:40%;
}
#polishimage img{
    width:30vw;
    height:50vh;

}
#polishcontent p{
    padding:10px;
    border:2px solid black;
    font-family: 'Cabin Sketch', cursive;
}
<<<<<<< HEAD
=======

>>>>>>> 463fab40321f89dbb2bdff58be4e8a69dd445bc3
